{% extends "public/templates/indexbase.html" %} {% block title%} FUREN {% endblock title%} {% block body %}


<!-- Header-->
{% include 'public/templates/header.html' %}
<!-- Section-->
<section class="py-5">
    <div class="container">
    <p> Hey! I am Mohammad Saqib Shah.</p> <p> This Project was created by me as part of my college mini project. I am a student of RRCE and in my 3rd year. I learner a lot while creating this project like what are sessions, how to create them using flask and how to create an session based authentication system. </p> <p>I hope you like the project!</p>
</div>
</section>
{% endblock body %}