{% extends "public/templates/indexbase.html" %} {% block title%} FUREN {% endblock title%} {% block body %}
<div class="wrap d-md-flex" style="user-select: auto;">
    <div class="img" style="background-image: url(&quot;images/xbg-1.jpg.pagespeed.ic.3OAd9jZTMD.webp&quot;); user-select: auto;">
    </div>
    <div class="login-wrap p-4 p-md-5" style="user-select: auto;">
        <div class="d-flex" style="user-select: auto;">
            <div class="w-100" style="user-select: auto;">
                <h3 class="mb-4" style="user-select: auto;">Order Placed Succesfully!</h3>
            </div>
        </div>

        <p style="user-select: auto;">Happy Renting </p>
        <p></p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse bibendum augue metus, vel rutrum ante ultricies at. Ut sit amet tempor metus. Maecenas nunc lacus, consectetur eu varius et, laoreet at nunc. Morbi euismod mauris eu quam
        tincidunt, a suscipit diam porta. Aenean posuere velit ac sapien lacinia, vel tincidunt nulla efficitur. Donec dapibus vulputate nisi quis tristique. Vestibulum fermentum consequat nibh, at euismod purus ultricies nec. Sed scelerisque imperdiet
        ultricies. Nunc sed dapibus tortor, ac pulvinar dui. Duis convallis nunc et urna cursus, nec venenatis lacus euismod.

        </p>
        <p>

        </p>Ut sit amet lacinia nisl. Proin sed massa rutrum, egestas massa non, placerat justo. Duis sed auctor sem. Cras sit amet diam tempor, varius nibh non, lacinia tellus. Quisque ut nisl mattis, commodo orci vel, molestie felis. Ut elit felis, mollis
        nec ex ultricies, fermentum egestas nunc. Aenean vestibulum ornare ligula. In non enim a nibh ultrices blandit nec at est. Donec interdum consequat orci at consectetur. Maecenas et varius justo, sit amet tincidunt dui. Suspendisse potenti. Fusce
        quis mauris in magna mollis malesuada. Ut malesuada justo at eros pulvinar, sit amet tincidunt felis condimentum. Donec tempus rutrum ex in tincidunt. Donec laoreet porta euismod. Integer quis consectetur tellus.</p>

        </p>Ut sit amet lacinia nisl. Proin sed massa rutrum, egestas massa non, placerat justo. Duis sed auctor sem. Cras sit amet diam tempor, varius nibh non, lacinia tellus. Quisque ut nisl mattis, commodo orci vel, molestie felis. Ut elit felis, mollis
        nec ex ultricies, fermentum egestas nunc. Aenean vestibulum ornare ligula. In non enim a nibh ultrices blandit nec at est. Donec interdum consequat orci at consectetur. Maecenas et varius justo, sit amet tincidunt dui. Suspendisse potenti. Fusce
        quis mauris in magna mollis malesuada. Ut malesuada justo at eros pulvinar, sit amet tincidunt felis condimentum. Donec tempus rutrum ex in tincidunt. Donec laoreet porta euismod. Integer quis consectetur tellus.</p>
    </div>
</div>


{% endblock body %}