{% extends 'public/templates/indexbase.html' %} {% block body %}
<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="/static/public/img/{{data['product'][0]}}_f.jpg" alt="..." /></div>
            <div class="col-md-6">
                <!-- <div class="small mb-1">SKU: BST-498</div> -->
                <h1 class="display-5 fw-bolder">{{data['product'][1]}}</h1>
                <div class="fs-5 mb-5">
                    <!-- <span class="text-decoration-line-through">$45.00</span> -->
                    <span>&#8377 {{ data['product'][4]}}</span>
                </div>
                <p class="lead">{{data['product'][2]}}</p>
                <div class="d-flex">
                    <form action="/addtocart" method="post">
                        {% set product_id = data['product'][0] %} {{ product_id }}
                        <input class="" id="inputQuantity" type="hidden" name="product_id" value={{product_id}} />
                        <input class="form-control text-center me-3" id="inputQuantity" type="num" name="product_quantity" value="1" style="max-width: 3rem" />
                        <button class="btn btn-outline-dark flex-shrink-0" type="submit">
                        <i class="bi-cart-fill me-1"></i>
                        Add to cart
                    </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Related items section-->
<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">Related products</h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% set i = 0 %} {% for product in data['relatedProducts'] if not i>4%} {% include 'public/templates/relatedCard.html' %} {% endfor%}

        </div>
    </div>
</section>
{% endblock body %}